.nav-link-custom {
  color: black;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
  font-weight: 550;
}

.nav-link-custom.active {
  color: #800000 !important; /* maroon */
  border-bottom: 3px solid #800000;
}
